:root {
    --background-primario-claro: #fffef5;
    --background-claro-secundario: #fdeecc;
    --background-escuro: #283618;
    --cor-letra-escura: #283618;
    --cor-letra-clara: #fffef5;
    --cor-principal: #364420;
    --cor-destaque: #c4972e;
    --cor-link: #f9af15;
    --cor-secundaria: #606c38;
    --cor-apoio: #fac75c;
    --cor-apoio-claro: #fadea3;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer__container {
    background-color: var(--background-escuro);
}
.footer__wrapper {
    width: 85%;
    max-width: 1280px;
    margin-inline: auto;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    justify-content: center;
    padding-block: 1rem;
    text-align: left;
}

.nav_footer {
    display: flex;
}

.footer__logo {
    height: calc(30px + 5vh);
}
.footer__navigation {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.footer__navigation li a {
    color: var(--cor-letra-clara);
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
}

.footer__social {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0 0 0 5vw;
}
.footer__social li a {
    text-decoration: none;
}
.footer__social li a {
    display: inline-block;
    background-size: cover;
}
.copyright {
    background-color: var(--background-primario-claro);
    display: block;
    padding-block: 1rem;
    text-align: center;
}
.copyright a {
   text-decoration: none;
   color: black
}
@media (max-width: 1194px) and (orientation: landscape) {
    .footer__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .footer__navigation {
        flex-direction: row;
    }
}

@media (max-width: 1024px) and (orientation: portrait) {
    .footer__wrapper {
        text-align: center;
        display: block;
    }

    .nav_footer {
        display: none;
    }
}

@media (max-width: 915px) and (orientation: landscape) {
    .footer__wrapper {
        text-align: center;
        display: block;
    }

    .nav_footer {
        display: none;
    }
}

@media (max-width: 414px) and (orientation: portrait) {
    .footer__wrapper {
        text-align: center;
        display: block;
    }

    .nav_footer {
        display: none;
    }

    .footer__navigation {
        display: grid;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
